<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
  <div class="entry">
      <%= image_tag(product.image_url) %>
     <div class="price_line"> 
    <h3><%= product.title %></h3>
    <%= truncate(strip_tags(product.description), length: 622) %>
    <br>
    <br>
      <span class="price"><%= number_to_currency(product.price,
                                                  separator: ",",
                                                  unit: "€") %></span>
      
    </div>
  </div>
<% end %>
