<!DOCTYPE html>
<html>
<head>
  <title>The Ultimate Book Shop</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
     <%= image_tag("bookshow35.png") %>
     <%= @page_title || "Pragmatic Bookshop" %>
  </div>
    <div id="columns">
        <div id="side">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="http://www..../faq">Questions</a></li>
                <li><a href="http://www..../news">News</a></li>
                <li><a href="http://www..../contact">Contact</a></li>
                <br>
                <li class="time"><%= Time.now.strftime("%d %B %Y %H:%M") %></li>
             </ul>
        </div>
        <div id="main">
            <%= yield %>
    </div>
    </div>
    
</body>
</html>
